In [3]:
# 라이브러리 임포트 : 실습에 필요한 라이브러리를 임포트

import numpy as np
import pandas as pd

# 베르누이 나이브베이즈를 위한 라이브러리
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import BernoulliNB

# 모델의 정확도 평가를 위해 임포트합니다.
from sklearn.metrics import accuracy_score # 정확도

np.random.seed(5)

# 문제 정의
- 베르누이 나이브베이즈 분류 모델을 사용하여 스팸 메일을 분류해보겠습니다.

# 데이터 수집
- 이번 실습에서는 간단한 스팸 메일 분류실습을 위해 아래 이메일 타이틀과 스팸 여부가 있는 데이터를 사용하겠습니다.

In [7]:
email_list = [
                {'email title': 'free game only today', 'spam': True},
                {'email title': 'cheapest flight deal', 'spam': True},
                {'email title': 'limited time offer only today only today', 'spam': True},
                {'email title': 'today meeting schedule', 'spam': False},
                {'email title': 'your flight schedule attached', 'spam': False},
                {'email title': 'your credit card statement', 'spam': False}
             ]

df = pd.DataFrame(email_list)
df

                                email title   spam
0                      free game only today   True
1                      cheapest flight deal   True
2  limited time offer only today only today   True
3                    today meeting schedule  False
4             your flight schedule attached  False
5                your credit card statement  False

## 데이터 전처리
- sklearn의 베르누이 나이브베이즈 분류기는 숫자만을 다루기 때문에, True와 False를 1과 0으로 치환하겠습니다.

In [9]:
df['label'] = df['spam'].map({True: 1, False: 0})
df

                                email title   spam  label
0                      free game only today   True      1
1                      cheapest flight deal   True      1
2  limited time offer only today only today   True      1
3                    today meeting schedule  False      0
4             your flight schedule attached  False      0
5                your credit card statement  False      0

In [ ]:
# 학습에 사용될 데이터와 뷴류값을 나눕니다.
df_x = df['email title'] # 사용될 데이터
df_y = df['label'] # 정답