# 데이터 분석에 유용한 기능들...

### - list comprehension 기본 구조

In [7]:
numbers = [1,2,3,4,5]
square1 = []

In [8]:
for i in numbers:
    square1.append(i ** 2)
    
square1 # 제곱한 값이 출력되기 시작

[1, 4, 9, 16, 25]

In [10]:
square2 = [i ** 2 for i in numbers] # list comprehension 이라고 불리는 구조
square2

[1, 4, 9, 16, 25]

In [11]:
square3 = []

for i in numbers:
    if i >= 3:
        square3.append(i ** 2)
        
square3

[9, 16, 25]

In [12]:
square4 = [i ** 2 for i in numbers if i >= 3] # append와 for문과 if문이 섞여있는 짬짜면
square4

[9, 16, 25]

### * List comprehension : 리스트 변환하는 표현식으로 유용한 기능

In [14]:
day = ['mon', 'tue','wed','thu','fri','sat','sun']
print([x for x in day]) # x에 리스트 자료형으로 데이터를 담아줌.

['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']

In [17]:
data = [35, 56, -53, 45, 27, -28, 0, -12]
print([x for x in data if x >= 0]) # [x(리스트 자료형으로 바꿔줌) for x(값을 담아줌) in data if x >= 0]

[35, 56, 45, 27, 0]

In [18]:
data = [35, 56, -53, 45, 27, -28, 0, -12]
print([x ** 2 for x in data if x >= 0])

[1225, 3136, 2025, 729, 0]

#### - split(구분자) : 구분자로 구분, 기본값은 공백

In [23]:
test_text = "the-joeun-Computer_academy-with-python"
result = test_text.split('-') # 바(-)를 기준으로 데이터들을 구분해주고 리턴해준다.
result # 리스트 자료 구조로 리턴해줌

['the', 'joeun', 'Computer_academy', 'with', 'python']

In [24]:
test_text = ['the', 'joeun', 'Computer_academy', 'with', 'python']
test_text

['the', 'joeun', 'Computer_academy', 'with', 'python']

In [26]:
result = '-'.join(test_text) # -를 기준으로 데이터를 조합해준다.
result

'the-joeun-Computer_academy-with-python'

* split()와 join()의 응용

In [30]:
result = '-'.join('345.234'.split('.'))
result

'345-234'

### - enumerate(list): 인덱스와 값을 함께 반환

In [33]:
for i, name in enumerate(['a','b','c','d','e']): # 2개의 변수를 선언해줄 수 있는 프로그램은 python밖에 없다. Check!!!
    print(i, name) # 리스트에 있는 데이터들을 for문을 통해 name변수에다가 매칭 시켜준다.

0 a
1 b
2 c
3 d
4 e

In [35]:
seq = ['mon', 'tue','wed','thu','fri','sat','sun']
dict(enumerate(seq)) # key, value형태로 dict가 알아서 출력해주게 됨.

{0: 'mon', 1: 'tue', 2: 'wed', 3: 'thu', 4: 'fri', 5: 'sat', 6: 'sun'}

In [38]:
key_seq = 'abcdefg'
value_seq = ['mon', 'tue','wed','thu','fri','sat','sun']
dict(zip(key_seq, value_seq)) # 두 변수가 하나씩 물려가는 구조로 zipper 데이터를 만들어주게 됨.
# dict 형태로 강제형변환해줌.

{'a': 'mon',
 'b': 'tue',
 'c': 'wed',
 'd': 'thu',
 'e': 'fri',
 'f': 'sat',
 'g': 'sun'}