# Pandas는 무엇인가요
- 데이터 분석 및 가공에 사용되는 파이썬 라이브러리

In [14]:
import pandas as pd

pd.__version__

'1.3.5'

In [15]:
pd.read_csv('data/friend_list.csv')

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern