# Pandas는 무엇인가요_20221109
- 데이터 분석 및 가공에 사용되는 파이썬 라이브러리

In [14]:
import pandas as pd

pd.__version__

'1.3.5'

In [18]:
data_frame = pd.read_csv('data/friend_list.csv')
data_frame

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

## 데이터 프레임_20221109
- 가로축과 세로축이 있는 엑셀과 유사한 데이터 구조
- 가로축은 row(행), 세로축은 column(열)
- 데이터베이스의 테이블 구조

In [22]:
# 데이터프레임이 가지고 있는 함수의 예제
data_frame.head(3) # default : 5 개를 보여줌 (R은 6개)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

## 시리즈(Series)_20221109
- 데이터 프레임의 컬럼(열)은 모두 시리즈.

In [25]:
type(data_frame.job) # pandas.core.series.Series

pandas.core.series.Series

In [ ]:
# 시리즈의 함수 예제